.custom-home-text {
    text-decoration: none;
    font-weight: bold !important;
    color: #1976d2 !important;
}

.home-features {
    margin-left: 10%;
}

.landing-wave {
    display: inline-block;
    animation-duration: 2.1s;
    transform-origin: 70% 70%;
    animation-name: wave-animation;
    animation-iteration-count: infinite;
}


@keyframes wave-animation {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(14deg);
    }

    20% {
        transform: rotate(-8deg);
    }

    30% {
        transform: rotate(14deg);
    }

    40% {
        transform: rotate(-4deg);
    }

    50% {
        transform: rotate(10deg);
    }

    60% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }
}