.vault-table-header {
    color: white !important;
    font-size: 16px !important;
    font-weight: bold !important;
    text-align: center !important;
}

.imp-text {
    font-size: 16px;
    cursor: pointer;
    color: #1976D2;
    font-weight: bold;
}

.vault-table-cell {
    text-align: center !important;

    button {
        font-weight: bold;
    }
}